/* 
    Created on : Jul 7, 2020, 12:13:44 AM
    Author     : Luka Kresoja
*/
*{
    /*Modify these valiues for creating new themes easly*/
    /*
     *      ___ _____   _____ _                              
     *     / _ \_   _| |_   _| |                             
     *    / /_\ \| |     | | | |__   ___ _ __ ___   ___  ___ 
     *    |  _  || |     | | | '_ \ / _ \ '_ ` _ \ / _ \/ __|
     *    | | | || |     | | | | | |  __/ | | | | |  __/\__ \
     *    \_| |_/\_/     \_/ |_| |_|\___|_| |_| |_|\___||___/
     *
     * Aqua theme
     *
     */
    -at-darkaccent: #002F63;
    -at-accent: #0C53A6;
    -at-secondaccent: #d7fc03; 
    -at-lightaccent: #2B6ABC;
    -at-background: #424242;
    -at-darkbackground: #303030;
    -at-lightbackground: #525252;
    -at-bordercolor: #5c5c5c;
    -at-text: white;
}

.root{
    -fx-background-color: -at-darkbackground;
    -fx-window-color: black;
}

.rcon{
    -fx-border-color: -at-bordercolor;
}

.sidePane{
    -fx-background-color: -at-background;
}

.rconPane{
    -fx-background-color: -at-background;
    -fx-border-width: 0px 0px 0px 1px;
}

.rconTextField{
    -fx-text-box-border: -at-border;
    -fx-focus-color: -at-darkaccent;
    -fx-faint-focus-color: -at-accent;
    -fx-border-color: -at-bordercolor;
    -fx-border-radius: 1px;
    -fx-control-inner-background: -at-darkbackground;
    -fx-background-color: -at-darkbackground;
    -fx-prompt-text-fill: derive(-at-text, -30%);
}

.rconButton{
    -fx-background-color: -at-darkbackground;
    -fx-text-fill: -at-text;
    -fx-padding: 2px;
    -fx-border-color: -at-bordercolor;
    -fx-border-width: 1px
}

.rconButton:hover{
    -fx-background-color: -at-background;
    -fx-opacity: 1;
    -fx-text-fill: -at-lightbackground;
    -fx-padding: 2px;
}

.text{
    -fx-text-fill: -at-text;
    -fx-font-size: 14px;
}

.title{
    -fx-text-fill: -at-text;
    -fx-font-size: 40px;
    -fx-fill: white;
}

.settingsPane{
    -fx-background-color: -at-background;
    -fx-border-color: -at-bordercolor;
    -fx-border-width: 0px 0px 0px 1px;
}

.sideMenu{
    -fx-background-color: -at-darkbackground;
    -fx-border-color: -at-bordercolor;
    -fx-border-width: 0px 1px 0px 0px;
}

/*Side menu button button - selector for scene*/
.sideMenuButton{
    -fx-background-color: -at-darkbackground;
    -fx-border-color: -at-darkbackground -at-darkbackground -at-darkbackground -at-darkbackground;
    -fx-border-width: 0px 2px 1px 1px;
}

.sideMenuButton .icon{
    -fx-fill: -at-bordercolor;
    -fx-max-width: 51.0;
    -fx-max-height: 51.0;
}

.sideMenuButton:selected{
    -fx-background-color: -at-accent;
    -fx-border-color: -at-background -at-darkaccent -at-accent -at-background;
    -fx-border-width: 0px 2px 1px 0px;
}

.sideMenuButton:selected .icon{
    -fx-fill: -at-darkaccent;
    -fx-max-width: 51.0;
    -fx-max-height: 51.0; 
}

.sideMenuButton:disabled{
    -fx-opacity: 1.0;
}

.sideMenuButton:hover{
    -fx-background-color: -at-background;
    -fx-border-color: -at-background -at-lightaccent -at-background -at-background;
    -fx-border-width: 0px 2px 1px 1px;
}

.sideMenuButton:hover .icon{
    -fx-fill: -at-lightaccent;
    -fx-max-width: 51.0;
    -fx-max-height: 51.0; 
}

/*Scrollbar*/
.scroll-bar{
    -fx-background-color: -at-darkaccent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: -at-background;
}

.increment-button, .decrement-button {
    -fx-background-color: -at-background;
    -fx-border-color: -at-bordercolor;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: -at-background;
    -fx-border-color: -at-bordercolor;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -at-darkbackground;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: -at-darkbackground;
}
/*-----------*/

.titlePane{
    -fx-background-color: -at-darkaccent;
}

.borderPane{
    -fx-background-color: -at-background;
    -fx-border-color: -at-bordercolor;
    -fx-border-width: 1px;
}

.borderPaneText{
    -fx-text-fill: -at-lightbackground;
    -fx-font-size: 13px;
    -fx-fill: white;
}

.labelButton{
    -fx-background-color: -at-background;
    -fx-text-fill: white;
    -fx-padding: 2px;
    -fx-text-fill: -at-text;
    -fx-border-color: -at-bordercolor;
    -fx-border-width: 1px;
    -fx-text-alignment: center;
}

.labelButton .text{
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-fill: -at-text;
}

.labelButton:hover{
    -fx-background-color: -at-lightbackground;
    -fx-opacity: 1;
    -fx-text-fill: -at-bordercolor;
    -fx-padding: 2px;
}

.labelButton:pressed{
    -fx-background-color: -at-darkbackground;
    -fx-opacity: 1;
    -fx-text-fill: -at-bordercolor;
    -fx-padding: 2px;
}

/*Slider*/
.slider{

}

.slider .thumb{
    -fx-background-color: -at-darkaccent;
}

.slider .thumb:active{
    -fx-focus-color: -at-accent;
    -fx-faint-focus-color: -at-lightbackground;
}

.slider .track{
    -fx-background-color: -at-darkbackground;
}

/*Radio button*/
.radio-button{
}

.radio-button .text{
    -fx-text-fill: -at-text;
    -fx-fill: -at-text;
}

.radio-button .radio{
    -fx-background-color: -at-darkbackground;
}

.radio-button:selected .radio .dot {
    -fx-background-color: -at-darkaccent;
    -fx-background-insets: 0;
}

/*progressbar*/

.progress-bar .track{
    -fx-background-color: -at-darkbackground;
}

.progress-bar:indeterminate .bar{
    -fx-accent: -at-accent;
}

.progress-bar:determinate .bar{
    -fx-background-color: -at-accent;
}

/*Status dot*/
.statusDot{
    -fx-background-radius: 17px;
    -fx-background-color: red;
}

/*List view and its elements*/
.list-view{
    -fx-background-color: -at-darkbackground;
}

.list-cell:odd{
    -fx-background-color : -at-lightbackground;
    -fx-text-fill: -at-text;
}

.list-cell:even{
    -fx-background-color : -at-background;
    -fx-text-fill: -at-text;
}

.list-cell:odd{
    -fx-background-color : -at-lightbackground;
    -fx-text-fill: -at-text;
}

.list-cell:even{
    -fx-background-color : -at-background;
    -fx-text-fill: -at-text;
}

.leftSidePane{
    -fx-background-color: -at-background;
    -fx-border-color: -at-bordercolor;
    -fx-border-width: 0px 1px 0px 0px;
}

.imageBackground{
    -fx-background-image: url(/app/admintools/img/background.png); 
    -fx-background-size: cover;
}

.loginCenter{
    -fx-background-color: -at-background;
    -fx-border-color: -at-bordercolor;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.pane{
    -fx-background-color: -at-darkbackground;
}

pane{
    -fx-background-color: -at-darkbackground;
}

/*choice box*/
.choice-box{
    -fx-background-color: -at-darkbackground;
}

.choice-box .label .text{
    -fx-fill: -at-text;
}

.choice-box .context-menu {
    -fx-background-color: -at-darkbackground; 
}
.choice-box .menu-item:focused {
    -fx-background-color: -at-darkaccent; 
}
.choice-box .menu-item > .label {
    -fx-text-fill: -at-text; 
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: -at-text; 
}

/*Plus*/
.plus{
    -fx-fill: -at-text;
    -fx-font-size: 50px;
}

.plus:hover{
    -fx-fill: -at-lightaccent;
    -fx-font-size: 50px;
}

.plus:pressed{
    -fx-fill: -at-accent;
    -fx-font-size: 50px;
}

/*Login card, now called credcard*/
.loginCard{
    -fx-background-color: linear-gradient(to top right, -at-darkaccent 75%, -at-accent 100%);
    -fx-margin: 10px;
}

.loginCard .ctitle{
    -fx-text-fill: -at-text;
}

.loginCard .ctitle > .text{
    -fx-text-fill: -at-text;
    -fx-font-size: 30px;
}

/*Plus*/
.edit .plus{
    -fx-fill: -at-text;
    -fx-font-size: 50px;
}

.edit:hover .plus{
    -fx-fill: -at-lightaccent;
    -fx-font-size: 50px;
}

.edit:pressed .plus{
    -fx-fill: -at-accent;
    -fx-font-size: 50px;
}

.splash{
    -fx-background-color: -at-background;
    -fx-background-image: url('assets/img/splash_screen.png');
}